<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="/home">Evoting System</a>
   
    <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-1" id="navbarSupportedContent">
        
    </div>
  </nav>
<div class="container">

    <form class="m-2" #form="ngForm"  style="width: 700px; margin-left: 200px !important; margin-top: 50px !important; box-shadow: 5px 10px 8px 10px #888888;padding: 50px !important;">
        <div class="form-group" >
            <label for="oldpassword">Old Password:</label>
            <input type="password" class="form-control" placeholder="Enter Old Password" name="oldpassword" required #esspass="ngModel" [(ngModel)]="oldpassword" >
        </div>
        <div class="form-group" >
            <label for="newpassword">New Password:</label>
            <input type="password" class="form-control" placeholder="Enter New Password" name="newpassword" required #newpass="ngModel" [(ngModel)]="newpassword" >
        </div>
        <div class="form-group" >
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" class="form-control" placeholder="Enter Confirm Password" name="confirmpassword" required #newpass="ngModel" [(ngModel)]="confirmpassword" >
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" (click)="confirmPassword()">Set</button> 
            <button class="btn btn-secondary" routerLink="/voterhomepage" style="margin-left: 9px !important;">Back</button>
        </div>
    </form>
    
</div>